<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="JiraUsername" value="tala.rajabi@class.com.au" />
		<add key="JiraAPIToken" value="ATATT3xFfGF0hB8ogn312TzJ8sdbn98137QXuMvpxk_i3vLDJBSDxlU_RWG_6obRYsnpgNoizgmRT8zCNDqHVeYQydCnGHZAZDorh5-o2Y9iIxjmhmO32_VYoNXol8GR0lDb1qTkSP6wx-EW3uAD3fPVL1xKHbG6i5ZxMH_sfpqFgZEom-onMFk=060BF53B" />
	</appSettings>
</configuration>
